#
#
# CDK .gitignore
# Deepak Shenoy
# May 1st, 2026
#
#
*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Intellij
*.idea/

# OSX (Mac)
**/.DS_Store

