#
#
# CDK .gitignore
# Deepak Shenoy
# June 6th, 2026
#
# Typescript
#
#
*.swp
package-lock.json
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
node_modules/

# Intellij
*.idea/
*.iml
